* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.moving-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgb(46, 46, 46);
}

.moving-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}
